@import '../../scss/variables';

.inputBlock {
    margin-bottom: 5px;
    label {
        margin-bottom: 3px;
        color: #4545b7;
        padding: 0px;
        display: block;
        font-weight: bold;
        font-size: 20px;
    }
    input {
        display: block;
        box-sizing: border-box;
        border: 1px solid $border;
        padding: 7px;
        width: 100%;
        outline: none;
        // transition: all 300ms ease-in-out;
        border-radius: 5px;
    }
    span {
        color: $error;
        font-style: 12px;
        transition: all 600ms ease-in-out;
        opacity: 0;
    }
    &.invalid {
        transition: all 700ms ease-in-out;
        span {
            opacity: 1;
        }
        input {
            // transition: all 600ms ease-in-out;
            border: 1px solid $error;
        }
    }
}
