@import '../../scss/variables';

.btn {
    padding: 6px 10px;
    border: 1px solid $border;
    border-radius: 5px;
    margin-right: 30px;
    font-size: 1.25em;
    min-width: 7em;
    background-color: #80c560;
    color: #2b2b9b;
    cursor: pointer;
    &:active {
        transform: translateY(2px);
    }
    &:disabled {
        transform: none;
        background-color: #a4a4a5;
        border: 1px solid #a4a4a5;
        cursor: not-allowed;
        color: rgba(0, 0, 0, .3);
    }
}
