.mainPage {  
    background-color: #eee;
    padding: 110px 10px;
    h2 {
        font-weight: 600;
        font-size: 28px;
        line-height: 30px;
        text-align: center;
        margin-top: 20px;
    }
    &-list {
        margin-top: 20px;
        min-height: 735px;     
        flex-grow: 1;        
    }
}