.header {
    background-color: #8aa0c1;
 	width: 100%;
 	height: 110px;
 	color: #fff;
 	position: fixed;
 	bottom: 0;
 	top: 0;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 5px 15px;
    &-profile {
        font-size: 20px;
    }
}