@import '../../scss/variables';

.authLayout {
    background: linear-gradient(90deg, $background 0%, #8e8edb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}