.footer {
    background-color: #8aa0c1;
 	width: 100%;
 	height: 110px;
 	color: #fff;
 	bottom: 0;
 	left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        margin: 0 12px;
        color: #fff
    }
}