@import '../../scss/variables';

.authForm {
    background: #eee;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 30px;
    border-radius: 5px;
    max-width: 420px;
    h2 {
        text-align: center;
        margin-bottom: 12px;
        color: #4545b7;
    }
    p {
        text-align: center;
        color: $error;
    }
}
.buttonBlock {
    display: flex;
    justify-content: left;
}